

.container1{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: rgb(231, 225, 225);
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container1 hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container1 h2{
    font-size: 20px;
    font-weight: 500;
}
.container1 ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
.container1 button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container1 .index {
    margin: auto;
    font-size: 18px;
}
.container1 .correct{
    background: #dffff2;
    border: #09916a;
}
.container1 .wrong{
    background: #c46e6e;
    border-color: #d80b0b;
}

.logo img{
    width: 300px;
    height: 60px;
    margin-top: 10px;
    align-items: center;
  }